<div class="jumbotron">
  <div class="container"> 
    <div class="main">
      <h1 id="jumbo-text">Record Your Journey</h1>
      <div id="user-sign-up">
        <% if user_signed_in? %>
          <div class="box">
              <h2><span class="sword">ס₪₪₪₪§|(Ξ≥≤≥≤≥≤ΞΞΞΞΞΞΞΞΞΞ></span>Welcome, <%= current_user.username %>!<span class="sword2"><ΞΞΞΞΞΞΞΞΞΞ≥≤≥≤≥≤Ξ)|§₪₪₪₪ס</span></h2>
              <p class="mud-text">A blinding light floods the area, and you lose sight of the cloaked man. You soon find yourself sprawled on ground made of fluffy, white clouds. You stand up, dazed, before noticing an enormous opening in the clouds close by. You peer over the edge to see the entire world below...</p>
          </div>
        <% else %>
            <div class="box">
              <h2><span class="sword">ס₪₪₪₪§|(Ξ≥≤≥≤≥≤ΞΞΞΞΞΞΞΞΞΞ></span>Create Your Account<span class="sword2"><ΞΞΞΞΞΞΞΞΞΞ≥≤≥≤≥≤Ξ)|§₪₪₪₪ס</span></h2>
              <p class="mud-text">A man in a heavy hooded cloak approaches you slowly. As he arrives he surveys you carefuly, 
              his face compeltely darkened by the shadows of his apparel. Abruptly alarmed, he grasps a dagger from within the folds
              of his cloak. Crouching defensively, he scans the area for a threat before murmuring to you hastily... </p>
          
              <%= render :partial=> 'devise/sessions/sign_up', locals: {user: user} %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 text-center">
      <p>Text</p>
    </div>
    <div class="col-md-6 text-center">
      <p>Text</p>
    </div>

  </div>
</div>


