<div class="jumbotron">
  <div class="container">  
    <div class="main">
      <h1 id="jumbo-text">Record Your Journey<span id="cursor">_</span></h1>
      <a href="#" target="_blank" class="btn-main">Register</a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 text-center">
      <p>Hi</p>
    </div>
    <div class="col-md-6 text-center">
      <p>Hi</p>
    </div>

  </div>
</div>


