/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
 margin: 0 0 65px;
}

.header {
  background-color: #000;
  width: 100%;
  z-index: 1;
  clear: both;
  overflow: auto;
  margin: 0;
  position: fixed;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  margin: 0;
  padding: 10px 0;
  float:right; 
}

.nav li, .nav li a {
  color: #0080FF;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 100;
  letter-spacing: 0px;
  font-size: 16px;
  display: inline-block;
}

.nav li a:hover, .nav li a:focus, .nav li a:visited  {
  background-color: #000;
  text-decoration: none;
}

 .logo {
   float: left;
   padding: 20px;
}

#main-content {
  height: 100%;
  width: 100%;
  padding-top: 65px;
  position: relative;
}

#footer {
  background-color: #000;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
  overflow: hidden;
  box-shadow: inset  0  8px 8px -8px #696868, 
              inset  0 -8px 8px -8px #696868;
}

#footer p {
  font-family: "Lucida Console", Monaco, monospace;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0px 0px 0px 30px;
  line-height: 65px;
}

.mud-text {
    font-family: 'Courier New', serif;
    color: #0080FF;
    font-size: 12px;
}

.form-field:focus { 
    transition: all 0.5s ease;
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.alert {
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  margin: auto;
  border: 1px solid #000;
  font-family: 'Courier New', serif;
  font-size: 18px;
  margin: auto;
  border-radius: 0px;
  text-align: center;
}

.alerts .alert .close {
  color: #0080FF;
  opacity: .8;
  text-shadow: none;
}

.alerts .success {
  color: #008000;
}

.alerts .danger {
  color: #FF0000;
}

.alerts .warning {
  color: #FF00FF;
}

.sign-up-error {
  display: inline-block;
  color: red;
}

