// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  
.premium-faq-text {    
  float: left;
  clear: left;
  color: #C0C0C0;
  font-family: 'Courier New', serif;
  text-align: left;
}

#pay-btn {
  clear: both;
}