#muds-panel .panel {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  -webkit-box-shadow: -1px 1px 8px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    -1px 1px 8px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         -1px 1px 8px 0px rgba(50, 50, 50, 0.25);
}

#muds-panel .panel-heading {
  height: 35px;
}

#muds-button {
  transition: all .5s ease;
  color: #000;
}

#muds-button:hover {
  transition: all .5s ease;
  color: red;
}

#muds-view .btn-group.open .dropdown-toggle {
  transition: all .5s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: red;
}

#pages-view .btn:active, .btn.active {
  transition: all .5s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#muds-dropdown {
    transition: all .5s ease;
    background-color: #FFF;
    border: none;
    border-radius: 0px;
    padding: 0px;
}

#muds-dropdown li a {
  padding: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#muds-dropdown li a:hover {
  transition: all .5s ease;
}

.glyphicon-plus {
  color: #646464;
}

#muds-dashboard-panel .panel {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  -webkit-box-shadow: -1px 1px 8px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    -1px 1px 8px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         -1px 1px 8px 0px rgba(50, 50, 50, 0.25);
}

#wiki-cards {
  margin-bottom: 10px;
}

#wiki-cards .panel-body {
  overflow: auto;
  height: 250px;
  background: #000;
  color: #C0C0C0;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#wiki-cards .panel-body::-webkit-scrollbar {
    width: .5em;
}
 
#wiki-cards .panel-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#wiki-cards .panel {
  transition: all .75s ease;
  border: none;
  padding: 0px;
  border-radius: 2px;
  margin: 7px;
  display: inline-block;
  width: 23%;
  -webkit-box-shadow: -1px 1px 8px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    -1px 1px 8px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         -1px 1px 8px 0px rgba(50, 50, 50, 0.25);
  }
  
#wiki-cards .panel:hover {
  transition: all .5s ease;
  -webkit-box-shadow: -5px 7px 8px 0px rgba(50, 50, 50, 0.44);
  -moz-box-shadow:    -5px 7px 8px 0px rgba(50, 50, 50, 0.44);
  box-shadow:         -5px 7px 8px 0px rgba(50, 50, 50, 0.44);
  }  

#wiki-cards .panel-heading {
  background: #000;
  text-align: center;
  color: #808000;
  border-bottom: 1px dashed #008080;
  border-radius: inherit;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  white-space: nowrap;
}

#wiki-cards a {
  transition: all .75s ease;
}

#wiki-cards a:hover {
  transition: all .75s ease;
  text-decoration: none;
}

#wiki-cards .panel-footer {
  height: 35px;
  display: table-cell;
  width: 18%;
  background: #F7F7F7;
  color: #969696;
}

#wiki-cards .glyphicon-book {
}

#wiki-cards .glyphicon-arrow-right {
  transition: all .75s ease;
  color: #000;
}

#wiki-cards .glyphicon-arrow-right:hover {
  transition: all .75s ease;
  color: #800000;
}