// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  height: 950px;
  background-color: #000;
  background-image: url(fantasy3.jpg);
  background-size: cover;
  margin-bottom: 0px;
}


.main {
  position: relative;
  top: 15px;
  text-align: center;
}

#jumbo-text {
  color: #fff;
  width: 100%;
  font-family: 'Courier New', serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 90px;
  margin-top: 0px;
  margin-bottom: 30px;
}


.btn-default {
  border: 1px solid #333;
  padding: 13px 30px 13px 30px;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 1.3px;
}

@media screen and (max-width:950px) {
    #jumbo-text { font-size: 45px; 
                  color: #C4C4C4; }
}

@media screen and (max-width:575px) {
    #jumbo-text { display:none; }
}