<h1>MUDs</h1>
<p></p>
<hr />

<div class="panel panel-default">
  <div class="panel-heading">Total MUDs: <%= @muds.count %></div>
  <table class="table table-striped">
    
    <% @muds.each do |mud| %>
      <tr>
        <td>
          <%= link_to mud.name, mud_path(mud.id) %>
        </td>
        <td>
          <%= pluralize(mud.wikis.count, 'wiki') %> for this MUD
        </td>
      </tr>
  <% end %>
  
  </table>
</div>

<hr />

<p><%= link_to "New MUD Request", new_mud_path %></p>

